# EDITED BY Deakum #

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "none"
sets tags "Night and Day Roleplay, "

## You MAY edit the following:
##cfxk_1XULa9mzbeI9leaL5dJYx_1fVbQ9 -- Danlirp key
sv_licenseKey "cfxk_UTN5uBegUpTbFuFLWwCX_ilqte" #get your key from https://keymaster.fivem.net/login 
sv_hostname "Night And Day RP" #Name your server
sets sv_projectName "[NADRP]" #Name your server
sets sv_projectDesc "An advanced FiveM RP framework including jobs, gangs, housing & more!" #\
sets locale "en-US" 
load_server_icon myLogo.png
set sv_enforceGameBuild 2545
set mysql_connection_string "mysql://root@localhost/denalifwstd?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1
exec permissions.cfg
# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

# QBCore & Extra stuff
ensure denalifw-core
ensure fivem-appearance
setr fivem-appearance:customization 1
setr fivem-appearance:locale "en"
ensure vMenu
ensure [denalifw]
ensure [standalone]
ensure [voice]

ensure cfx-gabz-mapdata         #*THIS RESOURCE IS REQUIRED FOR ALL RESOURCES TO WORK. IT MUST BE STARTED FIRST*
    ensure cfx-gabz-scenarios       #*THIS RESOURCE IS OPTIONAL, IT REMOVES CONFLICTING PEDS SPAWNS*
    ensure cfx-gabz-pdprops         #*THIS RESOURCE IS REQUIRED IF YOU USE ANY PD. IT MUST BE START BEFORE PD'S*
    ensure cfx-gabz-247             #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
    ensure cfx-gabz-ammunation
    ensure cfx-gabz-arcade
    ensure cfx-gabz-beanmachine
    ensure cfx-gabz-bennys         #*READ BELOW*!
    ensure cfx-gabz-binco
    ensure cfx-gabz-bowling
    ensure cfx-gabz-carmeet
    ensure cfx-gabz-casino
    ensure cfx-gabz-catcafe
    ensure cfx-gabz-davispd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
    ensure cfx-gabz-diner
    ensure cfx-gabz-esbltd
    ensure cfx-gabz-firedept
    ensure cfx-gabz-fleeca
    ensure cfx-gabz-harmony
    ensure cfx-gabz-haters
    ensure cfx-gabz-hayes
    #ensure cfx-gabz-hub            #*READ BELOW*!
    ensure cfx-gabz-import
    ensure cfx-gabz-impound        #*READ BELOW*!
    ensure cfx-gabz-lamesapd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
    ensure cfx-gabz-lost
    ensure cfx-gabz-lscustoms
    ensure cfx-gabz-mirrorpark1
    ensure cfx-gabz-mirrorpark2
    ensure cfx-gabz-mrpd
    ensure cfx-gabz-ottos
    ensure cfx-gabz-pacificbank     #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
    ensure cfx-gabz-paletobank
    ensure cfx-gabz-paletoliquor
    ensure cfx-gabz-paletopd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
    ensure cfx-gabz-parkranger
    ensure cfx-gabz-pdm            #*READ BELOW*!
    ensure cfx-gabz-pillbox
    ensure cfx-gabz-pinkcage
    ensure cfx-gabz-pizzeria        #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
    ensure cfx-gabz-ponsonbys
    ensure cfx-gabz-prison
    ensure cfx-gabz-records
    ensure cfx-gabz-sandypd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
    ensure cfx-gabz-studio
    ensure cfx-gabz-suburban
    ensure cfx-gabz-townhall        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
    ensure cfx-gabz-tuners
    ensure cfx-gabz-vu
    ensure cfx-gabz-yachts

    ensure PolyZone
ensure polyzonehelper
ensure qb-target
ensure fjam-ui
ensure nh-context
ensure mhacking
ensure [vinscratchfolder]

ensure [defaultmaps]
ensure [Tate]
ensure [AVHouseRobbery]
ensure [ui]
ensure [vehicles]
ensure [prison_map]
ensure [crim]
ensure [jobs]
ensure [vehicle-related]
ensure [renzu]
ensure [clothes]



add_ace group.admin easyadmin allow
add_ace group.admin easyadmin.player.kick allow
add_ace group.admin easyadmin.player.spectate allow
add_ace group.admin easyadmin.player.teleport allow
add_ace group.admin easyadmin.player.slap allow
add_ace group.admin easyadmin.player.freeze allow
add_ace group.god easyadmin.immune allow
# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:110000113f4b389 group.admin #Tate -- Add your admins here

exec easyadmin_permissions.cfg
exec resources\[Tate]\dc-adminmenu\permissions.cfg
