@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%27');

.container {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.tunerchip-block {
    display: block;
    position: absolute;
    width: 55vh;
    left: 12vh;
    height: 35vh;
    top: 20vh;
    z-index: 100;
}

.color-code {
    width: 5vh;
    height: 2vh;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(127, 119, 192);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
    color: rgb(10, 10, 10);
    outline: none;
    transition: all 0.1s linear;
}

.screen-frame {
    position: absolute;
    left: 10vh;
    top: 14.5vh;
    margin: 0 auto;
    pointer-events: none;
    z-index: 101;
    height: 43vh;
}

.tunerchip-header {
    position: absolute;
    width: 100%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.5);
}

.tunerchip-software {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: 10000;
}

.tunerchip-btn {
    position: relative;
    border: 2px solid rgb(255, 0, 64);
    background-color: #ff006a00;
    height: 2.7vh;
    width: 6vh;
    left: 5vh;
    top: -1vh;
    margin-bottom: 1.8vh;
    border-radius: 0.5vh;
    transition: all 0.2s linear;
    font-family: 'Roboto', sans-serif;
}

.tunerchip-btn:hover {
    border-radius: 0.8vh;
    background-color: rgb(255, 0, 64);
}

.tunerchip-btn > p {
    text-align: center;
    color: rgb(255, 0, 64);
    font-size: 1vh;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vh;
    line-height: 3vh;
}

.tunerchip-btn:hover > p {
    color: rgb(255, 255, 255);
}

.tunerchip-btn:active > p {
    color: rgb(255, 255, 255);
}

.tunerchip-btn-return {
    position: relative;
    border: 2px solid rgb(255, 0, 64);
    background-color: #ff006a00;
    height: 2.7vh;
    width: 6vh;
    left: 5vh;
    top: -2vh;
    margin-bottom: 1.8vh;
    border-radius: 0.5vh;
    transition: all 0.2s linear;
    font-family: 'Roboto', sans-serif;
}

.tunerchip-btn-return:hover {
    border-radius: 0.8vh;
    background-color: rgb(255, 0, 64);
}

.tunerchip-btn-return > p {
    text-align: center;
    color: rgb(255, 0, 64);
    font-size: 1vh;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vh;
    line-height: 3vh;
}

.tunerchip-btn-return:hover > p {
    color: rgb(255, 255, 255);
}

.tunerchip-btn-return:active > p {
    color: rgb(255, 255, 255);
}

.tunerchip-software-buttons {
    position: absolute;
    height: 20vh;
    width: 12vh;
    right: 2.5vh;
    top: 5.6vh;
}

.tunerchip-software-boost-slider {
    position: absolute;
    width: 30vh;
    top: 4.5vh;
    left: 20vh;
}

.tunerchip-software-boost-slider-second {
    position: absolute;
    width: 30vh;
    top: 7.5vh;
    left: 8vh;
    margin: 10px;
    padding: 8px;
}
.tunerchip-software-boost-slider-second:hover {
    position: absolute;
    width: 30vh;
    top: 7.5vh;
    left: 8vh;
    color: #fff;
    background-color: #777777;
    border-radius: 8px;
    margin: 10px;
    padding: 8px;
}

.tunerchip-software-gear-slider {
    position: absolute;
    width: 30vh;
    top: 16vh;
    left: 8vh;
    margin: 10px;
    padding: 8px;
}
.tunerchip-software-gear-slider:hover {
    position: absolute;
    width: 30vh;
    top: 16vh;
    left: 8vh;
    margin: 10px;
    padding: 8px;
    color: #fff;
    border-radius: 8px;
    background-color: #777777;
}

#slider-titel {
    font-family: 'Roboto', sans-serif;
    font-size: 2vh;
    letter-spacing: 0.15vh;
    color: rgb(255, 0, 64);
}

#normalhigh {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(255, 0, 64);
}

#normalhigh-second {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(255, 0, 64);
}

#normalhigh2 {
    font-size: 13px;
    font-weight: lighter;
}

#normalhigh3-second {
    font-size: 13px;
    font-weight: lighter;  
}